@import "variables";

body{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //grid-template-rows: repeat(2, $grid-row-height);
  //grid-template-rows: calc(100vh - $link-section-height) $link-section-height;
}

#banner-logo{
  //max-height: $grid-row-height;
  max-height:calc(100vh - $link-section-height - 4em);
  padding: 2em;
}

#banner {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;

  background-color: $banner-background-color;
  background: $banner-background-gradient;
}
#about {
  grid-column-start: 1;
  grid-column-end:3;
  grid-row-start: 2;
  //padding-left: 16.66%;
  padding-left:8.33%;
  padding-right:8.33%;

  padding-top:$button-gap-size;
}
#links {
  grid-column-start: 3;
  grid-row-start: 2;
}